/* app.css */
.divider {
  background: url(/img/backgrounds/divider-bg.jpg);
  background-position: left center;
  background-size: cover;
  background-attachment: fixed;
  height: 8rem;
}
.text-right {
  text-align: right;
}
.divider h1{
  font-size: 4vw;
  font-weight: 700;
  background: -webkit-gradient(
  linear,left top,right top,
    from(rgb(25, 76, 192)),
    color-stop(20%, rgb(196, 26, 3)),
    color-stop(40%, rgb(236, 190, 6)),
    color-stop(60%, rgb(25, 76, 192)),
    color-stop(80%, rgb(3, 116, 8)),
    to(rgb(196, 26, 3)));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;

}
.btn-red-gradient{
  background:rgb(7 86 129/65%) ;
  border: 0.1rem solid black;
  border-radius: 5%;
  tab-size: 2rem;
  font-weight: 600;
  padding: 0.25rem;
  color: rgb(0, 35, 44);
}