/* catalog.css */
/* index.html */
.bg-sale{
  background-color: #ff0000;
  color: white;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.5rem;
  /* background-color: var(--primary-bg-color); */
  >.product{
   width: 15rem;
   overflow: hidden;
   position: relative;
    >.icons{
     position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: -1;
      >a{
        background-color: var(--primary-bg-color);
        color: var(--anchor-color);
        display: block;
        margin-top: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
      }
      >a:hover{
        background-color: var(--anchor-color);
        color: var(--primary-bg-color);
      }
    }
    >.image{
    object-fit: cover;
    >.badge{
      display: inline-block;
      text-align: center;
      vertical-align: baseline;
      font-size: 0.75rem;
      padding: 0.25rem 0.45rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }        

    }
    >.content{
      >h3{
        padding-bottom: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
        position: absolute;
        bottom: -3rem;  
        left: 0;
        right: 0;
        z-index: 10;

      }
      >.price{
        font-weight: 600;
        color: var(--anchor-active-color);
      }
      >.price::before {
        color: var(--anchor-active-color);
        content: var(--currency-symbol);
    }
      >.price:nth-of-type(1){
      float: left;
      text-decoration: line-through;
    }
      >.price:nth-of-type(2) {
      float: right;
    }
  }

}
  >.product:hover h3{
    bottom: 1rem;
  }
  >.product:hover .icons{
    z-index: 10;
  }
}

/* catalog-html */
aside{
.text-uppercase {
  text-transform: uppercase;
}
.bg-dark{
background-color: black;
}
.text-white{
  color: white;
}
ul.categories li a {
  color: indigo;
  text-decoration: none;
  font-size: 1.2rem;
}
ul.categories li a:hover {
  background-color: lightgray;
}
}

@media (min-width:20rem)and (max-width:48rem){

 .main-information{
  width: 80%;
  .product{
    width: 95%;
    margin: 0.5rem;
   
  }
}
.catalog-main{
  width: 80%;
>.container>.product-container>.product{
    width: 80%;
  }
}
/* #catalog {
  display: grid;
  gap: .1rem;
  grid-template-columns:15rem auto;
  
   */
}