/* common css */
* {
  margin: 0;
  /* 1rem=16px */
  /* font-family: 'Libre Franklin', sans-serif; */
  --primary-font-family:'Libre Franklin', sans-serif;
  --primary-font-size:0.875rem;
}

html{
  --primary-text-color:#000000;
  --primary-bg-color:#f0f4e2;
  --footer-text-color:rgb(76, 88, 78);
  --footer-bg-color:rgb(131, 173, 145);
  --main-color:rgb(5, 72, 28);
  --anchor-color:rgb(94, 134, 106);
  --anchor-active-color:rgb(34, 83, 59); 
}

body{
  color: var(--main-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}
h1,h2,h3 {
  font-weight: 700;
}
h1{
  /* font-size: calc(1.3rem + 1.1vw); */
  font-size: 1.45rem;
}
h2 {
  /* font-size: calc(1.2rem + 0.8vw); */
  font-size: 1.3rem;
}

a{
  color: var(--anchor-color);
  text-decoration:none;
}