.hero {
  background-color: rgb(216, 229, 213);
  text-shadow: rgb(0 0 0/.25) 1px 1px 2px;


  background-image: url(/img/backgrounds/bg-banner.jpg);
  background-position: center center;
  background-size: cover;
  margin-top: 3rem;
}
@media  (min-width:16rem) and (max-width:46rem){
  .hero{
    
    margin-top: 8rem;
  }
  
}