/*maim css*/
@import url(common.css);

/* Маю запитання стосовно завдання */
/* @import url("my-imported-styles.css");
 * {
   margin:0;
   padding:0;
 } */
 
body{
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}