/* nav.css */


.page-header {
  background-color: #e4efee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.825rem 7% ;
  
/* brand */
  >.brand{
color: var(--anchor-active-color);
font-weight: 600;
font-size: 1.1rem;
}
  >.navbar{
    > a {
font-size: 1.1rem;
color: var(--anchor-color) ;
margin-right: 0.5rem;
}
    >a:hover {
  color: var(--anchor-active-color);
  text-decoration: underline;
}
}
  > .toolbar {
    > a {
  font-size: 1.1rem;
  color: var(--anchor-color);
}
    >a:hover{
  color: var(--anchor-active-color);
}
    >a:active{
  color: goldenrod;
}
}
}





