/* css до домашньої роботи 5 */
*{
  font-family: 'Roboto', sans-serif;
  font-size:1em;
}
div {
  font-size:1em;
} 
span{
  font-size:1.6em;
}

strong {
  font-size: 1.6rem;
}
ul>li {
  list-style-type: square;
}