:root{
  background-color: #d5d5bb9b;
}
ul {
  list-style:none;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3,33%);
  
}

li{
  padding-bottom: 0.25rem;
}
a{
  color: #444426;
  text-decoration: none;
  margin-right: 0.75rem;
}
a:active{
  color:gold;
}
a:visited{
  color:#bbaf58ed;
}
a:hover {
  color: #ca8350;
  background-color: #d5d59c;
}
